In [1]:
import camelot
import plotly.express as px

In [2]:
# extract all the tables in the PDF file
tables = camelot.read_pdf("pdfs/pdf1.pdf", pages='1-end')   #address of file location
 
# print the first table as Pandas DataFrame
# tables_df = tables[6].df.head()
print('Total tables extracted:', tables.n)

Total tables extracted: 12

# Cleaning

In [3]:
# Funcion de filtrado de lineas que no tienen todos los datos
# Sirve para sacar las lineas totalizadoras
def get_empty_rows(dataset):
    # Nested 'for' loop and unique value list of 'set'
    return list(set([i for i, s in dataset.iterrows() for v in s.values if str(v) == 'nan']))

# Primer PDF

In [4]:
import pandas as pd

# for table in tables:
#     df = table.df
#     break

year = "2021"


# Declarar cabecera
# header = df.iloc[0]
header = ['NRO'
          ,'RUC'
          ,'NOMBRE O RAZON SOCIAL'
          ,'APORTE TOTAL(mm)'
        ]

# create a empty dataframe
df_contenedor = pd.DataFrame(columns=header)

# iterar por cada tabla del PDF
for table in tables:
    df = table.df
    # remove the first row with loc
    df = df.loc[1:]
    df.columns = header
    df['ANHO'] = year


    # remove rows with empty string based on NRO column with loc
    df = df.loc[df['NRO'] != '']
    # df = df.loc[df['NRO'].notnull()]
    # df = df.dropna(subset=['Nro'])

    # concatenate the dataframe into a container dataframe
    df_contenedor = pd.concat([df_contenedor, df], ignore_index=True)

    list_of_empty_rows = get_empty_rows(df)

    # remove rows of list_of_empty_rows off of df_contenedor
    df_contenedor = df_contenedor.drop(list_of_empty_rows)

    # year -= 1


    # break
    # print(df)
    # Guardar en CSV
    # df.to_csv('csvs/csv1.csv', mode='a', header=True, index=False)


# limpiar lineas innecesarias


# list_of_empty_rows

/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/1741961123.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year

In [5]:
df_contenedor.tail(5)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
495,496,80037706,BUREAU VERITAS PARAGUAY SOCIEDAD DE RESPONSABI...,3.303,2021
496,497,80026564,CHACO INTERNACIONAL SA,3.293,2021
497,498,80105006,WILLFARM SOCIEDAD ANONIMA,3.289,2021
498,499,80024060,ATENIL SA (SUC. PARAGUAY),3.261,2021
499,500,80082380,GRANOS Y NUTRICIÓN SOCIEDAD ANÓNIMA,3.259,2021

In [6]:
# crear un DF madre y concatenar el DF df_contenedor
df_madre = pd.DataFrame(columns=header)
df_madre = pd.concat([df_madre, df_contenedor], ignore_index=True)
df_madre.head(5)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
0,1,80009735,ADMINISTRACION NACIONAL DE ELECTRICIDAD - ANDE,336.481,2021
1,2,80008790,TABACALERA DEL ESTE SA,198.331,2021
2,3,80002201,BANCO ITAU PARAGUAY S.A,174.807,2021
3,4,80003400,PARAGUAY REFRESCOS SA,147.677,2021
4,5,80086846,CERVEPAR S.A.,146.989,2021

# Segundo PDF
! sin columna RUC

In [7]:
# obtener DF del segundo PDF
tables = camelot.read_pdf("pdfs/pdf2.pdf", pages='1-end')

# Unir al DF del primer PDF

In [8]:
# print how many tables were extracted
print('Total tables extracted:', tables.n)
# print first table as Pandas DataFrame
tables_df = tables[11].df.tail()
tables_df

Total tables extracted: 12

,0,1,2
9,499,NUEVA AMERICANA SA,2.649
10,500,RIVER SERVICES S. R. L.,2.643
11,TOTAL APORTADO POR LOS 500 PRINCIPALES CONTRIB...,,6.151.476
12,,,14.352.736
13,PORCENTAJE DE PARTICIPACIÓN SOBRE RECAUDACIÓN ...,,"42,9%"

In [9]:
year = "2020"


# Declarar cabecera
# header = df.iloc[0]
header = ['NRO'
          # ,'RUC'
          ,'NOMBRE O RAZON SOCIAL'
          ,'APORTE TOTAL(mm)'
        ]

# create a empty dataframe
df_contenedor = pd.DataFrame(columns=header)

# iterar por cada tabla del PDF
for table in tables:
    df = table.df
    # remove the first row with loc
    df = df.loc[1:]
    df.columns = header
    df['ANHO'] = year


    # remove rows with empty string based on NRO column with loc
    df = df.loc[df['NRO'] != '']
    # df = df.loc[df['NRO'].notnull()]
    # df = df.dropna(subset=['Nro'])

    # concatenate the dataframe into a container dataframe
    df_contenedor = pd.concat([df_contenedor, df], ignore_index=True)

    list_of_empty_rows = get_empty_rows(df)

    # remove rows of list_of_empty_rows off of df_contenedor
    df_contenedor = df_contenedor.drop(list_of_empty_rows)

    # year -= 1


    # break
    # print(df)
    # Guardar en CSV
    # df.to_csv('csvs/csv1.csv', mode='a', header=True, index=False)

/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2013150556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year

In [10]:
df_contenedor.tail(5)

,NRO,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
497,498,GAS METAL SRL,2.657,2020
498,499,NUEVA AMERICANA SA,2.649,2020
499,500,RIVER SERVICES S. R. L.,2.643,2020
500,TOTAL APORTADO POR LOS 500 PRINCIPALES CONTRIB...,,6.151.476,2020
501,PORCENTAJE DE PARTICIPACIÓN SOBRE RECAUDACIÓN ...,,"42,9%",2020

In [11]:
# remove last 2 rows
df_contenedor = df_contenedor.iloc[:-2]

In [12]:
df_contenedor.tail(5)

     NRO                       NOMBRE O RAZON SOCIAL APORTE TOTAL(mm)  ANHO
495  496  DATA SYSTEMS SA EMISORA DE CAPITAL ABIERTO            2.669  2020
496  497                                PROQUITEC SA            2.662  2020
497  498                               GAS METAL SRL            2.657  2020
498  499                          NUEVA AMERICANA SA            2.649  2020
499  500                     RIVER SERVICES S. R. L.            2.643  2020

In [13]:
# crear un DF madre y concatenar el DF df_contenedor
# df_madre = pd.DataFrame(columns=header)
df_madre = pd.concat([df_madre, df_contenedor], ignore_index=True)

# Graficar

In [14]:
df_madre.tail(5)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
995,496,NaN,DATA SYSTEMS SA EMISORA DE CAPITAL ABIERTO,2.669,2020
996,497,NaN,PROQUITEC SA,2.662,2020
997,498,NaN,GAS METAL SRL,2.657,2020
998,499,NaN,NUEVA AMERICANA SA,2.649,2020
999,500,NaN,RIVER SERVICES S. R. L.,2.643,2020

In [15]:
# filter only the rows with 'TABACALERA DEL ESTE SA' or 'BANCO ITAU PARAGUAY S.A' in NOMBRE O RAZON SOCIAL of df_madre
# df_madre_filtro = df_madre.loc[(df_madre['NOMBRE O RAZON SOCIAL'] == 'TABACALERA DEL ESTE SA') | (df_madre['NOMBRE O RAZON SOCIAL'] == 'BANCO ITAU PARAGUAY S.A')]
# comentar para tener todo el tataframe

In [16]:
# order df by ANHO
# df_madre_filtro = df_madre_filtro.sort_values(by=['ANHO'], ascending=True)
df_madre = df_madre.sort_values(by=['ANHO'], ascending=True)

df_madre.head(30)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
999,500,NaN,RIVER SERVICES S. R. L.,2.643,2020
657,158,NaN,INDUSTRIA PARAGUAYA DE GASES SRL,7.339,2020
658,159,NaN,ABACEL S.A.,7.335,2020
659,160,NaN,TETRA PAK LTDA. SUCURSAL PARAGUAY,7.313,2020
660,161,NaN,RIEDER Y CIA. SACI,7.294,2020
661,162,NaN,PROTECCION MEDICA SA (PROMED SA),7.276,2020
662,163,NaN,BEBIDAS DEL PARAGUAY SA,7.261,2020
663,164,NaN,LAR SRL,7.195,2020
664,165,NaN,LA LOTEADORA INMOBILIARIA SA,7.177,2020
665,166,NaN,PS LINE SA,7.135,2020
666,167,NaN,CONTIPARAGUAY SA,7.114,2020
667,168,NaN,BUSINESS ENTREPRENEUR SPECIAL TOBACCO INC S.A ...,7.112,2020
668,169,NaN,EMAP S.A.,7.111,2020
669,170,NaN,FLAVORS OF AMERICAS S.A.,7.073,2020
670,171,NaN,SANATORIO SAN ROQUE S.R.L.,7.002,2020
671,172,NaN,COMPAÑIA DE TABACOS MONTECARLO SA,6.990,2020
672,173,NaN,TECNOLOGIA DEL SUR S.A.E,6.990,2020
673,174,NaN,COMERCIAL E INDUSTRIAL AMAMBAY SA (CIABAY SA),6.982,2020
674,175,NaN,CIE SA,6.951,2020
675,176,NaN,PUMA ENERGY PARAGUAY SOCIEDAD ANONIMA,6.888,2020
676,177,NaN,PROVISION S.A,6.855,2020
677,178,NaN,GARDEN MPY S.A.,6.846,2020
678,179,NaN,TAFIREL PARAGUAY S.A.,6.845,2020
679,180,NaN,SEGURIDAD INTELIGENCIA Y TECNOLOGIA DEL PARAGU...,6.752,2020
680,181,NaN,LA YUTEÑA SA,6.696,2020
681,182,NaN,PARAGUAY TRADING SA,6.682,2020
682,183,NaN,ASEGURADORA YACYRETA S.A. DE SEGUROS,6.625,2020
683,184,NaN,RASI SRL,6.608,2020
656,157,NaN,GLOBO IMPORT EXPORT S.A.,7.371,2020
684,185,NaN,BIGGIE S.A.,6.596,2020

In [17]:
import plotly.express as px

# PDF 3

In [18]:
tables = camelot.read_pdf("pdfs/pdf3.pdf", pages='1-end') 
year = "2019"


# Declarar cabecera
# header = df.iloc[0]
header = ['NRO'
          ,'RUC'
          ,'NOMBRE O RAZON SOCIAL'
          ,'APORTE TOTAL(mm)'
        ]

# create a empty dataframe
df_contenedor = pd.DataFrame(columns=header)

# iterar por cada tabla del PDF
for table in tables:
    df = table.df
    # remove the first row with loc
    df = df.loc[1:]
    df.columns = header
    df['ANHO'] = year


    # remove rows with empty string based on NRO column with loc
    df = df.loc[df['NRO'] != '']
    # df = df.loc[df['NRO'].notnull()]
    # df = df.dropna(subset=['Nro'])

    # concatenate the dataframe into a container dataframe
    df_contenedor = pd.concat([df_contenedor, df], ignore_index=True)

    list_of_empty_rows = get_empty_rows(df)

    # remove rows of list_of_empty_rows off of df_contenedor
    df_contenedor = df_contenedor.drop(list_of_empty_rows)

/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/2309001507.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year

     NRO       RUC   NOMBRE O RAZON SOCIAL APORTE TOTAL(mm)  ANHO
495  496  80082675    MUNDIAL TRADING S.A.            2.827  2019
496  497  80010082     AURORA TRADING S.A.            2.822  2019
497  498  80021677    MONSANTO PARAGUAY SA            2.821  2019
498  499  80016715              COMTEL S.A            2.820  2019
499  500  80083951  DUOMO SOCIEDAD ANONIMA            2.797  2019

In [ ]:
df_contenedor.tail(5)

In [19]:
# df_madre = pd.DataFrame(columns=header)
df_madre = pd.concat([df_madre, df_contenedor], ignore_index=True)
# parse ANHO as int and order df by ANHO
df_madre['ANHO'] = df_madre['ANHO'].astype(int)
df_madre = df_madre.sort_values(by=['ANHO'], ascending=True)
# replace '.' with '' and parse APORTE TOTAL(mm) as int
df_madre['APORTE TOTAL(mm)'] = df_madre['APORTE TOTAL(mm)'].str.replace('.', '')
df_madre['APORTE TOTAL(mm)'] = df_madre['APORTE TOTAL(mm)'].astype(int)
# filter only the rows with 'TABACALERA DEL ESTE SA' or 'BANCO ITAU PARAGUAY S.A' in NOMBRE O RAZON SOCIAL of df_madre
# df_madre = df_madre.loc[(df_madre['NOMBRE O RAZON SOCIAL'] == 'TABACALERA DEL ESTE SA') | (df_madre['NOMBRE O RAZON SOCIAL'] == 'BANCO ITAU PARAGUAY S.A')]

/tmp/ipykernel_804/3013990310.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_madre['APORTE TOTAL(mm)'] = df_madre['APORTE TOTAL(mm)'].str.replace('.', '')

In [20]:
# fig = px.line(df_madre, x="ANHO", y="APORTE TOTAL(mm)", color='NOMBRE O RAZON SOCIAL')
# fig.show()

In [21]:
df_madre.describe()

       APORTE TOTAL(mm)         ANHO
count       1500.000000  1500.000000
mean       13199.466000  2020.000000
std        31949.111927     0.816769
min         2643.000000  2019.000000
25%         3798.000000  2019.000000
50%         5431.000000  2020.000000
75%        10271.750000  2021.000000
max       648882.000000  2021.000000

# Cuarto PDF

In [22]:
tables = camelot.read_pdf("pdfs/pdf4.pdf", pages='1-end') 
year = "2018"


# Declarar cabecera
# header = df.iloc[0]
header = ['NRO'
          ,'RUC'
          ,'NOMBRE O RAZON SOCIAL'
          ,'APORTE TOTAL(mm)'
        ]

# create a empty dataframe
df_contenedor = pd.DataFrame(columns=header)

# iterar por cada tabla del PDF
for table in tables:
    df = table.df
    # remove the first row with loc
    df = df.loc[1:]
    df.columns = header
    df['ANHO'] = year


    # remove rows with empty string based on NRO column with loc
    df = df.loc[df['NRO'] != '']
    # df = df.loc[df['NRO'].notnull()]
    # df = df.dropna(subset=['Nro'])

    # concatenate the dataframe into a container dataframe
    df_contenedor = pd.concat([df_contenedor, df], ignore_index=True)

    list_of_empty_rows = get_empty_rows(df)

    # remove rows of list_of_empty_rows off of df_contenedor
    df_contenedor = df_contenedor.drop(list_of_empty_rows)

/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3648790865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year

## Limpiar y unir a DF madre

In [23]:
# replace '.' with '' and parse APORTE TOTAL(mm) as int
df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')
df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].astype(int)
# filter only the rows with 'TABACALERA DEL ESTE SA' or 'BANCO ITAU PARAGUAY S.A' in NOMBRE O RAZON SOCIAL of df_madre
df_contenedor = df_contenedor.loc[(df_contenedor['NOMBRE O RAZON SOCIAL'] == 'TABACALERA DEL ESTE SA') | (df_contenedor['NOMBRE O RAZON SOCIAL'] == 'BANCO ITAU PARAGUAY S.A')]
# parse ANHO as int
df_contenedor['ANHO'] = df_contenedor['ANHO'].astype(int)
# Concat to df_madre and sort by ANHO column
df_madre = pd.concat([df_madre, df_contenedor], ignore_index=True)
df_madre = df_madre.sort_values(by=['ANHO'], ascending=True)

/tmp/ipykernel_804/2097909772.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')

## Grafico de control

In [24]:
df_madre.head(10)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
1501,5,80002201,BANCO ITAU PARAGUAY S.A,199828,2018
1500,2,80008790,TABACALERA DEL ESTE SA,352094,2018
342,469,80022558,PRODUCTOS MEDICINALES PARAGUAYOS SA (PROMEPAR SA),2987,2019
341,470,80088448,RODOMAQ SOCIEDAD ANONIMA,2981,2019
340,471,80068599,EMPRESA DE COMERCIO Y DE DESARROLLOS INMOBILI...,2978,2019
339,498,80021677,MONSANTO PARAGUAY SA,2821,2019
338,497,80010082,AURORA TRADING S.A.,2822,2019
337,496,80082675,MUNDIAL TRADING S.A.,2827,2019
336,495,80066950,FCSTONE PARAGUAY S.R.L,2830,2019
335,494,80047379,AMERICA LATINA AGRISCIENCES S.A. (ALAG S.A.),2833,2019

In [25]:
# fig = px.line(df_madre, x="ANHO", y="APORTE TOTAL(mm)", color='NOMBRE O RAZON SOCIAL')
# fig.show()

# PDFs 5 al 9
### Años 2017 al 2013

In [26]:
year = "2017"       # inicia el anho

for i in range(5, 10):
    tables = camelot.read_pdf("pdfs/pdf" + str(i) + ".pdf", pages='1-end')

    # empty dataframe
    df_contenedor = pd.DataFrame(columns=header)

    for table in tables:
        df = table.df
        # remove the first row with loc
        df = df.loc[1:]
        df.columns = header
        df['ANHO'] = year

        # remove rows with empty string based on NRO column with loc
        df = df.loc[df['NRO'] != '']

        # concatenate the dataframe into a container dataframe
        df_contenedor = pd.concat([df_contenedor, df], ignore_index=True)
        # get empty rows
        list_of_empty_rows = get_empty_rows(df)

        # remove rows of list_of_empty_rows off of df_contenedor
        df_contenedor = df_contenedor.drop(list_of_empty_rows)
    
    # replace '.' with '' and parse APORTE TOTAL(mm) as int
    df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')
    df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].astype(int)
    # filter only the rows with 'TABACALERA DEL ESTE SA' or 'BANCO ITAU PARAGUAY S.A' in NOMBRE O RAZON SOCIAL of df_madre
    # df_contenedor = df_contenedor.loc[(df_contenedor['NOMBRE O RAZON SOCIAL'] == 'TABACALERA DEL ESTE SA') | (df_contenedor['NOMBRE O RAZON SOCIAL'] == 'BANCO ITAU PARAGUAY S.A') | (df_contenedor['NOMBRE O RAZON SOCIAL'] == 'PARAGUAY REFRESCOS SA')]
    # parse ANHO as int
    df_contenedor['ANHO'] = df_contenedor['ANHO'].astype(int)
    # Concat to df_madre and sort by ANHO column
    df_madre = pd.concat([df_madre, df_contenedor], ignore_index=True)
    df_madre = df_madre.sort_values(by=['ANHO'], ascending=True)

    print(f'''
    Procesando ... \n
    Archivo: pdfs/pdf{i}.pdf\n
    Anho: {year}
    ''')
    

    year = int(year) - 1
    year = str(year)

/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:28: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')

    Procesando ...

    Archivo: pdfs/pdf5.pdf

    Anho: 2017

/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:28: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')

    Procesando ...

    Archivo: pdfs/pdf6.pdf

    Anho: 2016

/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:28: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')

    Procesando ...

    Archivo: pdfs/pdf7.pdf

    Anho: 2015

/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:28: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')

    Procesando ...

    Archivo: pdfs/pdf8.pdf

    Anho: 2014


    Procesando ...

    Archivo: pdfs/pdf9.pdf

    Anho: 2013

/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_804/3839642440.py:28: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_contenedor['APORTE TOTAL(mm)'] = df_contenedor['APORTE TOTAL(mm)'].str.replace('.', '')

In [33]:
df_contenedor.tail(5)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
495,496,80014443,RAFAELI SRL IMPORTADORA Y EXPORTADORA,1814,2013
496,497,80024926,QUEEN ANNE SA,1812,2013
497,498,80002449,SUPERMERCADO GUARANI SRL,1809,2013
498,499,80019208,DEZETA SA,1806,2013
499,500,80012667,LA SANTANIANA SA,1806,2013

In [34]:
fig = px.line(df_madre, x="ANHO", y="APORTE TOTAL(mm)", color='NOMBRE O RAZON SOCIAL')
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [30]:
df_madre.describe()

       APORTE TOTAL(mm)         ANHO
count       4002.000000  4002.000000
mean       11734.369065  2016.875562
std        30002.219001     2.712594
min         1806.000000  2013.000000
25%         3253.750000  2015.000000
50%         4635.500000  2017.000000
75%         8624.500000  2019.000000
max       648882.000000  2021.000000

In [1]:
# reset index
df_madre = df_madre.reset_index(drop=True)
df_madre.info()

NameError: name 'df_madre' is not defined

# 2009 al 2005
### Workaround: truncar los últimos 6 numeros para que coincidan con los demas datos

# 2004
### Vuelve a ser en formato miles de millones